#countLabel{
    display: block;
    font-family: 'Common Pixel', sans-serif;
    font-size: 10em;
    text-align: center;                                            
}

#BtnContainer{
    text-align: center;
}

.button{
    padding: 15px;
    font-size: 20px;
    border-radius: 8px;
    background-color: hsl(185, 100%, 37%);
}
.button:hover{
    background-color:  hsl(185, 100%, 50%);
}